{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid about-content">
    <div class="row home-row">
        <div class="col-12 ">
            <p class="mt-2 mt-md-3 pl-md-4 mb-md-1 mb-3 text-left larger">
                <span class="font-weight-bold">
                    ABOUT US | <span class="underline">What We Do</span> | <a href="{% url 'contact' %}"
                        class="text-black">Contact</a></span><h2 class="logo-font my-3 my-md-4 text-center">What We Do</h2>
            </p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card home-card p-3 larger">
                <p class="larger">Founded in 2020, we are a small family run firm specialising in the tailoring of fine
                    bespoke wooden cupboards and shelving units made exactly to your specifications.</p>
                <p>Head carpenter Barry has more than 20 years joinery experience and is now putting his passions for
                    both meticulous woodwork and for art into making his designs realities.</p>
                <p>Our cupboards are first constructed to completion then meticulously dismantled and packed with
                    detailed instructions for reassembly</p>
                <p>We are proud of our unique designs which will provide you with a truly remarkable piece of furniture
                    that will fit perfectly where ever you have in mind for it.</p>
                <p>It is our top priority that you are happy with the finished result and we are available on the phone
                    8am-6pm every day to offer support and answer any enquiries.</p>
            </div>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12">
            <h4 class="text-center mb-0 mt-2">
                <a class="text-black" href="{% url 'home' %}"><strong>Home</strong></a>
            </h4>
        </div>
        <div class="col-12 spacer"></div>
    </div>
</div>
{% endblock%}