{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid info-content">
    <div class="row home-row">
        <div class="col-12 ">
            <p class="mt-2 mt-md-3 pl-md-4 mb-md-1 mb-3 text-left larger">
                <span class="font-weight-bold">
                    INFO | <a href="{% url 'pricing' %}"
                    class="text-black">Pricing</a> | <a href="{% url 'delivery' %}"
                    class="text-black">Delivery</a> | <span class="underline">Assembly</span> | <a href="{% url 'returns' %}"
                        class="text-black">Returns</a></span><h2 class="logo-font my-3 my-md-4 text-center">Assembly</h2>
            </p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card info-card p-3 larger">
                <p class="largerr">Assembly is intended to be as user friendly as possible.  We send our cupboards with clear step by step written instructions and accompanying diagrams.  We fully assemble your unit ourselves so that we are sure all fixings are present and all measurements and joints fit perfectly.  We then meticulously dissemble and carefully flat pack it for delivery.</p>
                <p class="largerr">All fixings come in separate bags with the code and quantity of each type.  Spares of each are included.</p>
                <p class="largerr">The only tools needed for construction are a flat-head and a Philip's head screw driver.  Some experience with hand tools is recommended and a degree of strength is required.</p>
                <p class="largerr">If you would prefer to recieve your cupboard pre-aasembled we can instead arrange large item delivery.  Please contact us to discuss your options.</p>
                <p class="largerr">We are available on the phone
                    8am-6pm Mon-Fri and 9am-12 midday Sat to offer support with construction.  We can also offer video call support via Whatsapp.</p>
                    <table>
                        <tr class="largerr">
                            <td class="text-center"><a href="https://www.youtube.com" target="blank">
                                <i class="fab fa-youtube fa-lg px-3 red" aria-hidden="true"></i><span
                                    class="sr-only">Youtube</span></a></td>
                            <td>We also have a Youtube channel with instruction videos for cupboard construction.</td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12">
            <h4 class="text-center mb-0 mt-2">
                <a class="text-black" href="{% url 'home' %}"><strong>Home</strong></a>
            </h4>
        </div>
        <div class="col-12 spacer"></div>
    </div>
</div>
{% endblock%}