{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid about-content">
    <div class="row home-row">
        <div class="col-12 spacer"></div>
        <div class="col-12 ">
            <p class="mt-2 mt-md-0 pl-md-4 mb-md-1 mb-3 text-left larger">
                <span class="font-weight-bold">
                    About Us | <a href="{% url 'about' %}" class="text-black">What We Do</a> | <span
                        class="underline">Contact</span></span>
            </p>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card home-card p-3 larger">
                <p class="larger">We would love to hear from you and available by phone or email from 8am to 6pm
                    weekdays and 9 am to 12 midday on Saturdays.</p>
                <table class="ml-5 larger">
                    <tr>
                        <td class="font-weight-bold text-right pr-3"><i class="fas fa-phone px-3" aria-hidden="true"></i><span class="sr-only">Phone:</span>Phone:</td>
                        <td>0800 000 000</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right pr-3"><i class="far fa-envelope px-3" aria-hidden="true"></i><span class="sr-only">Envelope</span>Email:</td>
                        <td>contact@customcupboards.co.uk</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right pr-3"><i class="fas fa-home px-3" aria-hidden="true"></i><span class="sr-only">House</span>Address:</td>
                        <td>Custom Cupboards</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A Nice Place</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>England</td>
                    </tr>
                </table>
                <p class="mb-0">You can also find us on Facebook where you will see more images of our work and can read reviews from
                    our happy customers.</p>
                <p class="text-center"><a href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook fa-lg" aria-hidden="true"></i><span
                            class="sr-only">Facebook</span></a></p>
            </div>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12">
            <h4 class="text-center mb-0 mt-2">
                <a class="text-black" href="{% url 'home' %}"><strong>Home</strong></a>
            </h4>
        </div>
        <div class="col-12 spacer"></div>
    </div>
</div>
{% endblock%}