{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid info-content">
    <div class="row home-row">
        <div class="col-12 ">
            <p class="mt-2 mt-md-3 pl-md-4 mb-md-1 mb-3 text-left larger">
                <span class="font-weight-bold">
                    INFO | <a href="{% url 'pricing' %}"
                    class="text-black">Pricing</a> | <span class="underline">Delivery</span> | <a href="{% url 'assembly' %}"
                    class="text-black">Assembly</a> | <a href="{% url 'returns' %}"
                        class="text-black">Returns</a></span><h2 class="logo-font my-3 my-md-4 text-center">Delivery</h2>
            </p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card info-card p-3 larger">
                <p class="larger">Our standard method of delivery is flat packed and box.  As these can vary so much in size and weight, depending on your chosen dimensions, we have a tiered scale for delivery charges.  You will be informed of the delivery cost for your chosen dimensions along with the cost of the unit it self.</p>
                <p>The delivery tiers are as follows:</p>
                <table>
                    <tr>
                        <td class="text-right pr-3">Tier 1:</td>
                        <td class="pr-4">£10.00</td>
                    </tr>
                    <tr>
                        <td class="text-right pr-3">Tier 2:</td>
                        <td class="pr-4">£20.00</td>
                    </tr>
                    <tr>
                        <td class="text-right pr-3">Tier 3:</td>
                        <td class="pr-4">£30.00</td>
                    </tr>
                    <tr>
                        <td class="text-right pr-3">Tier 4:</td>
                        <td class="pr-4">£40.00</td>
                    </tr>
                    <tr>
                        <td class="text-right pr-3"></td>
                        <td class="pr-4"></td>
                    </tr>
                </table>
                <p class="mt-1 mb-0">Smaller units are sent as standard parcels while larger ones are handled by our trusted freight courir.</p>
                <p>We can also arrange delivery of pre-assembled units.  Please contact us if you wish to discuss this further.</p>
                <p>Please allow 2-3 weeks for dispatch of your unit and a further 5 days for transit.  If there is a further daley for some reason we will notify you.</p>
            </div>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12">
            <h4 class="text-center mb-0 mt-2">
                <a class="text-black" href="{% url 'home' %}"><strong>Home</strong></a>
            </h4>
        </div>
        <div class="col-12 spacer"></div>
    </div>
</div>
{% endblock%}