{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid info-content">
    <div class="row home-row">
        <div class="col-12 ">
            <p class="mt-2 mt-md-3 pl-md-4 mb-md-1 mb-3 text-left larger">
                <span class="font-weight-bold">
                    INFO | <span class="underline">Pricing</span> | <a href="{% url 'delivery' %}"
                    class="text-black">Delivery</a> | <a href="{% url 'assembly' %}"
                    class="text-black">Assembly</a> | <a href="{% url 'returns' %}"
                        class="text-black">Returns</a></span><h2 class="logo-font my-3 my-md-4 text-center">Pricing</h2>
            </p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card info-card p-3 larger">
                <p class="larger">The calculation for the cost of a unit includes a design charge, determined by the complexity of the cupboard to make and the cost of the accessories (hinges and handles) used (if at all, not for shelves) and the area of wood used, which incorporates the dimensions, the number of shelves and whether the unit is a cupboard or shelving.</p>
                <p>We have a unique online calculator which can give you an instant quote for your desired cupboard.</p>
                <p>Each design is listed with an example price, this is for a standard unit of dimensions H: 1500mm / W: 1000mm / D: 500mm and 3 shelves. Because the only variable between these prices is the design, the cost of different designs may be compared.</p>
            </div>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12">
            <h4 class="text-center mb-0 mt-2">
                <a class="text-black" href="{% url 'home' %}"><strong>Home</strong></a>
            </h4>
        </div>
        <div class="col-12 spacer"></div>
    </div>
</div>
{% endblock%}