{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid info-content">
    <div class="row home-row">
        <div class="col-12 ">
            <p class="mt-2 mt-md-3 pl-md-4 mb-md-1 mb-3 text-left larger">
                <span class="font-weight-bold">
                    INFO | <a href="{% url 'pricing' %}"
                    class="text-black">Pricing</a> | <a href="{% url 'delivery' %}"
                    class="text-black">Delivery</a> | <a href="{% url 'assembly' %}"
                    class="text-black">Assembly</a> | <span class="underline">Returns</span></span><h2 class="logo-font my-3 my-md-4 text-center">Returns</h2>
            </p>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="card info-card p-3 larger">
                <p class="largerr">We are concerned that you are 100% satisfied with your unit and if you are not it can be returned to us within 28 days for a full refund.</p>
                <p class="largerr">If the reason for return is not a fault with the cupboard we ask that you are responsible for return postage costs.  We also ask that the cupboard is packaged similarly for return as it was received.</p>
                <p class="largerr">Minor losses of fixings are overlooked but damage to your cupboard that was not incurred in transit may result in the cost not being refunded in full.</p>
                <p class="largerr">All cupboards come with a 5 year guarantee for normal use.  This excludes any damage incurred if relocating your unit, attempting to alter it or any other willful or reckless damage.</p>
            </div>
        </div>
        <div class="col-12 spacer"></div>
        <div class="col-12">
            <h4 class="text-center mb-0 mt-2">
                <a class="text-black" href="{% url 'home' %}"><strong>Home</strong></a>
            </h4>
        </div>
        <div class="col-12 spacer"></div>
    </div>
</div>
{% endblock%}